
{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block page_title %}
User || Esewa form
{% endblock %}

{% block main_content %}
<div class="container">
    <div class="d-flex justify-content-center align-items-center">
        <div class="col-md-5 p-3 mt-4 shadow-lg">
            <h2 class="text-center text-muted">You are being redirected to Esewa Please wait....</h2>

            <div class="card" style="display: none;">
                 <form action="https://rc-epay.esewa.com.np/api/epay/main/v2/form" method="POST" id="esewa_form">

                    <input type="hidden" name="amount" value="{{data.amount}}">
                    <input type="hidden" name="tax_amount" value="0">
                    <input type="hidden" name="total_amount" value="{{data.total_amount}}">
                    <input type="hidden" name="transaction_uuid" value="{{data.transaction_uuid}}">
                    <input type="hidden" name="product_code" value="EPAYTEST">
                    <input type="hidden" name="product_service_charge" value="0">
                    <input type="hidden" name="product_delivery_charge" value="0">

                    <input type="hidden" name="success_url" value="http://127.0.0.1:8000/esewa-verify/{{payment.id}}/">
                    <input type="hidden" name="failure_url" value="http://127.0.0.1:8000/payment/{{payment.booking.id}}/">

                    <input type="hidden" name="signed_field_names" value="total_amount,transaction_uuid,product_code">
                    <input type="hidden" name="signature" value="{{data.signature}}">

                    <button type="submit">Continue to eSewa</button>
                </form>
            </div>

        </div>
    </div>
</div>


<script>
    window.onload = function () {
        document.getElementById('esewa_form').submit();
    }
</script>

{% endblock %}